.format {
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: #000;
  padding: 200px 70px;
}

.formatLeft {
  display: flex;
  flex-direction: column;
}

.formatBtn {
  margin-top: auto;
}

.formatBtn button {
  border: 1px solid black;
  border-radius: 30px;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  gap: 15px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  background-color: #fff;
}

.formatLeft h3 {
  font-size: 48px;
  font-weight: 500;
  margin-bottom: 20px;
}

.formatLeft p {
  font-size: 16px;
}

.accordion {
  width: 50%;
}

.customAccordion {
  background-color: #fff !important;
  box-shadow: none !important;
}

.customAccordionSummary {
  font-size: 32px !important;
  font-weight: 500 !important;
  padding: 24px 0 !important;
}
