.about {
  color: #000;
  padding: 200px 80px;
  display: flex;
  gap: 480px;
}

.aboutTitle {
  white-space: nowrap;
}

.aboutTitle h2 {
  font-size: 48px;
  font-weight: 500;
}

.aboutRight h3 {
  font-size: 32px;
  font-weight: 500;
  margin-bottom: 50px;
}

.aboutText {
  display: flex;
  gap: 14px;
  align-items: center;
}
