.tarifs {
  max-width: 1440px;
  margin: 0 auto;
  color: #000;
  padding: 0 50px 200px;
}

.tarifsTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}

.tarifsTitleInfo h3 {
  font-size: 48px;
  font-weight: 500;
  margin-bottom: 20px;
}

.tarifsTitleInfo p {
  font-size: 16px;
  font-weight: 400;
}

.tarifsTitleBtn button {
  padding: 10px 30px;
  font-size: 16px;
  font-weight: 500;
  border-radius: 40px;
  border: 1px solid #979797;
  background-color: #fff;
  color: #000;
  cursor: pointer;
}

.tarifsInfo {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 20px;
}

.tarifsCard {
  width: 50%;
  padding: 40px;
  border-radius: 40px;
  position: relative;
  overflow: hidden;
}

.star {
  position: absolute;
  right: 0;
  top: 0;
}

.tarifsCardTitle {
  margin-bottom: 90px;
}

.tarifsCardTitle p {
  font-size: 16px;
  margin-bottom: 20px;
}

.tarifsCardTitle h3 {
  font-size: 48px;
  font-weight: 500;
}

.tarifsCardList {
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 40px;
  line-height: 140%;
}

.tarifsCardBtn button {
  width: 100%;
  padding: 15px 0;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  background-color: #fff;
  color: #000;
  font-size: 16px;
  font-weight: 500;
}

.tarifsQuestion {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  margin-top: 100px;
  margin-bottom: 20px;
  padding: 0 20px;
}

.tarifsQuestion h3 {
  font-size: 48px;
  font-weight: 500;
  margin-bottom: 20px;
}

.tarifsQuestionList {
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 40px;
  line-height: 140%;
}

@media all and (max-width: 1260px) {
  .star {
    width: 150px;
    height: 150px;
  }
}

@media all and (max-width: 1180px) {
  .star {
    right: -50px;
  }
}

@media all and (max-width: 1100px) {
  .tarifsCardTitle h3 {
    font-size: 40px;
  }

  .star {
    width: 100px;
    height: 100px;
    right: 0;
  }
}

@media all and (max-width: 960px) {
  .tarifs {
    padding: 50px 0 200px;
  }

  .tarifsInfo {
    gap: 10px;
  }

  .tarifsTitle {
    padding: 0 15px;
  }

  .tarifsQuestion {
    padding: 0 30px;
    margin-top: 80px;
  }

  .tarifsQuestion h3 {
    font-size: 40px;
  }

  .tarifsQuestionList {
    gap: 10px;
  }
}

@media all and (max-width: 788px) {
  .tarifs {
    padding: 0 0 150px;
  }

  .tarifsInfo {
    gap: 10px;
  }

  .tarifsTitle {
    padding: 0 15px;
  }

  .tarifsCardTitle h3 {
    font-size: 36px;
  }

  .tarifsQuestion {
    padding: 0 25px;
    margin-top: 60px;
  }

  .tarifsQuestion h3 {
    font-size: 36px;
  }

  .tarifsQuestionList {
    padding-left: 10px;
    gap: 8px;
  }
}

@media all and (max-width: 725px) {
  .star {
    width: 200px;
    height: 200px;
    right: 0;
  }

  .tarifsCardTitle {
    margin-bottom: 50px;
  }

  .tarifsTitle {
    flex-direction: column;
    align-items: start;
    gap: 30px;
  }

  .tarifsInfo {
    flex-direction: column;
    align-items: start;
    gap: 0;
  }

  .tarifsCard {
    width: 100%;
  }

  .tarifsQuestion {
    padding: 0 20px;
    margin-top: 50px;
    margin-bottom: 15px;
  }

  .tarifsQuestion h3 {
    font-size: 32px;
    margin-bottom: 15px;
  }

  .tarifsQuestionList {
    gap: 10px;
    margin-bottom: 30px;
  }
}

@media all and (max-width: 655px) {
  .star {
    width: 150px;
    height: 150px;
    right: -30px;
  }
}

@media all and (max-width: 655px) {
  .star {
    width: 100px;
    height: 100px;
    right: 0;
    top: -5px;
  }
}

@media all and (max-width: 380px) {
  .tarifsTitleInfo h3 {
    font-size: 32px;
  }

  .tarifsTitleInfo p {
    font-size: 14px;
  }

  .tarifsCardTitle h3 {
    font-size: 32px;
  }

  .tarifsQuestion {
    padding: 0 15px;
  }

  .tarifsQuestion h3 {
    font-size: 28px;
  }

  .tarifsQuestionList {
    font-size: 14px;
    gap: 8px;
  }
}
