.header {
  width: 100%;
  background-color: #6462f1;
  padding-bottom: 50px;
  overflow: hidden;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
}

.navbar {
  max-width: 1440px;
  margin: 0 auto 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 25px;
}

.navLeft {
  display: flex;
  gap: 118px;
  align-items: center;
}

.navLeft h2 {
  font-size: 24px;
  font-weight: 500;
  cursor: pointer;
}

.navList {
  display: flex;
  gap: 30px;
  align-items: center;
  margin-top: 10px;
}

.navItem {
  list-style: none;
  font-size: 16px;
  cursor: pointer;
}

.navButton {
  display: flex;
  align-items: center;
  gap: 30px;
}

.navButton button {
  padding: 10px 30px;
  border: none;
  border-radius: 30px;
  color: #fff;
  cursor: pointer;
  background-color: #9391f9;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
}

.navButton img {
  display: none;
}

.mainContent h1 {
  text-align: center;
  font-size: 64px;
  font-weight: bold;
}

.ribbons {
  position: relative;
}

.main {
  position: absolute;
  z-index: 3;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.info {
  width: 760px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  gap: 50px;
  font-size: 16px;
  margin-bottom: 50px;
}

.leftInfo {
  text-align: center;
  line-height: 140%;
  font-weight: 400;
}

.rightInfo {
  text-align: center;
  font-weight: 400;
  line-height: 140%;
}

.tarifBtn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.tarifBtn button {
  padding: 15px 30px;
  border-radius: 30px;
  color: #000;
  border: none;
  font-size: 16px;
  font-weight: 400;
  background-color: #fff;
  cursor: pointer;
  text-align: center;
}

.drawer {
  padding: 40px 30px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.drawerBurger {
  position: absolute;
  top: 15px;
  right: 15px;
}

.drawerFirstBlock {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: start;
  flex-grow: 1;
}

.drawerSecondBlock {
  margin-top: auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: start;
}

.drawerBtn {
  display: block;
  background-color: #b1b0f7;
  border: none;
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  padding: 15px 30px;
  border-radius: 50px;
  cursor: pointer;
}

.drawerBtnWithIcon {
  padding: 15px 10px 15px 20px;
}

.drawerBtnWithIcon a {
  display: flex;
  align-items: center;
  gap: 10px;
}

.drawerStar {
  position: absolute;
  top: 110px;
  right: 20px;
}

.drawerFreeBtn {
  display: none;
}

@media all and (max-width: 885px) {
  .navList {
    display: none;
  }

  .navButton img {
    display: block;
  }

  .ribbons {
    margin-bottom: 85px;
  }

  .info {
    padding: 0 20px;
  }

  .leftInfo {
    width: 50%;
  }

  .rightInfo {
    width: 50%;
  }

  .navbar {
    padding: 25px 15px;
  }
}

@media all and (max-width: 800px) {
  .mainContent h1 {
    margin-bottom: 40px;
  }
}

@media all and (max-width: 768px) {
  .info {
    width: 100%;
    flex-direction: column;
    align-items: center;
    padding: 0 15px;
    gap: 30px;
  }

  .leftInfo {
    width: 100%;
  }

  .rightInfo {
    width: 100%;
  }
}

@media all and (max-width: 645px) {
  .drawerFreeBtn {
    display: block;
  }

  .navButton button {
    display: none;
  }

  .mainContent h1 {
    font-size: 48px;
  }

  .ribbons {
    display: flex;
    justify-content: center;
  }

  .ribbons > img {
    width: 1000px;
  }
}

@media all and (max-width: 480px) {
  .mainContent h1 {
    font-size: 32px;
  }
}
