.whosGood {
  color: #000;
  padding: 200px 70px;
}

.whosGood h3 {
  font-size: 48px;
  font-weight: 500;
  margin-bottom: 40px;
}

.cardsContainer {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.card {
  flex: 1;
  padding: 20px;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
  transition: box-shadow 0.3s ease;
  position: relative;
}

.card h3 {
  font-size: 20px;
  font-weight: 500;
  margin: 20px 0;
}

.imageContainer {
  text-align: center;
  margin-bottom: 10px;
}

.descriptionContainer {
  max-height: 40px;
  overflow: hidden;
  transition: max-height 0.6s ease;
  position: relative;
}

.descriptionContainer.open {
  max-height: 200px;
}

.description {
  font-size: 16px;
  margin-right: 40px;
  line-height: 140%;
}

.expandIcon {
  position: absolute;
  bottom: 10px;
  right: 10px;
  cursor: pointer;
  transition: transform 0.6s ease;
  background-color: #f5f5f5;
  padding: 8px 10px;
  border-radius: 50%;
}

.card {
  position: relative;
  padding-bottom: 50px; /* Добавлено для размещения значка внизу */
}
