.whosGood {
  max-width: 1440px;
  margin: 0 auto;
  color: #000;
  padding: 200px 50px;
}

.whosGood h3 {
  font-size: 48px;
  font-weight: 500;
}

.whosGoodTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

.cardsContainer {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.card {
  flex: 1;
  padding: 20px;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.08);
  transition: box-shadow 0.3s ease;
  position: relative;
}

.card h3 {
  font-size: 20px;
  font-weight: 500;
  margin: 20px 0;
}

.imageContainer {
  text-align: center;
  margin-bottom: 10px;
}

.descriptionContainer {
  max-height: 40px;
  overflow: hidden;
  transition: max-height 0.6s ease;
  position: relative;
}

.descriptionContainer.open {
  max-height: 200px;
}

.description {
  font-size: 16px;
  margin-right: 40px;
  line-height: 140%;
}

.expandIcon {
  position: absolute;
  bottom: 20px;
  right: 20px;
  cursor: pointer;
  transition: transform 0.6s ease;
  background-color: #f5f5f5;
  padding: 8px 10px;
  border-radius: 50%;
}

.card {
  position: relative;
  padding-bottom: 50px;
}

.navigationButtons {
  display: none;
  align-items: center;
  gap: 10px;
}

.prevButton,
.nextButton {
  background-color: #fff;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08);
  cursor: pointer;
  font-size: 1.5em;
  transition: background-color 0.3s ease;
  padding: 30px;
}

.prevButton:hover,
.nextButton:hover {
  background-color: #f0f0f0;
}

@media all and (min-width: 1024px) {
  .cardsContainer {
    gap: 5px;
  }

  .whosGood {
    padding: 200px 20px;
  }

  .whosGood h3 {
    padding-left: 42px;
  }
}

@media all and (max-width: 960px) {
  .whosGood {
    padding: 200px 0;
  }

  .whosGoodTitle {
    padding: 0 15px;
  }

  .navigationButtons {
    display: flex;
  }

  .cardsContainer {
    margin: 0 65px;
  }
}

@media all and (max-width: 805px) {
  .cardsContainer {
    margin: 0;
    padding: 0 15px;
  }

  .imageContainer img {
    width: 324px;
    height: 324px;
  }
}

@media all and (max-width: 645px) {
  .whosGood h3 {
    font-size: 36px;
  }

  .card {
    width: 100% !important;
    flex: none;
  }
}

@media all and (max-width: 380px) {
  .whosGood h3 {
    font-size: 32px;
  }

  .card h3 {
    font-size: 20px;
  }
}
