.footer {
  background-color: #010101;
  padding: 70px 105px;
  display: flex;
  align-items: center;
  position: relative;
  border-top-left-radius: 40px;
  gap: 15px;
}

.firstBlock {
  width: 50%;
}

.firstBlock h3 {
  font-size: 32px;
  font-weight: 500;
  margin-bottom: 20px;
}

.firstBlock p {
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  margin-bottom: 70px;
}

.firstBlock button {
  font-size: 16px;
  font-weight: 500;
  padding: 15px 50px;
  border-radius: 40px;
  border: none;
  cursor: pointer;
  background-color: #fff;
  color: #000;
  text-align: center;
}

.secondBlock {
  width: 50%;
}

.secondBlock p {
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
}

.secondBlock h4 {
  font-size: 32px;
  font-weight: 500;
  margin-bottom: 40px;
}

.btns {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: start;
  margin-bottom: 50px;
}

.btns button {
  padding: 10px 10px 10px 20px;
  border: none;
  border-radius: 40px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  background-color: #fff;
  color: #000;
  text-align: center;
}

.btns button a {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.imageBlock img {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 4;
}

@media all and (max-width: 1160px) {
  .footer {
    flex-direction: column;
    align-items: start;
  }

  .imageBlock img {
    top: -265px;
  }

  .firstBlock {
    width: 100%;
    margin-bottom: 70px;
  }

  .secondBlock {
    width: 100%;
  }

  .secondBlockContent {
    display: flex;
    justify-content: space-between;
    align-items: start;
  }

  .btns {
    margin: 0;
  }
}

@media all and (max-width: 960px) {
  .footer {
    padding: 70px 15px;
  }
}

@media all and (max-width: 760px) {
  .footer {
    padding: 70px 15px 180px;
    overflow: hidden;
    border-top-right-radius: 40px;
  }

  .secondBlockContent {
    flex-direction: column;
    gap: 20px;
  }

  .imageBlock img {
    width: 400px;
    height: 400px;
    top: 610px;
  }

  .firstBlock button {
    width: 100%;
  }

  .secondBlock {
    width: 100%;
  }

  .btns {
    width: 100%;
  }

  .btns button {
    width: 100%;
  }
}

@media all and (max-width: 655px) {
  .footer {
    padding: 70px 15px 280px;
  }

  .imageBlock img {
    top: 700px;
  }
}

@media all and (max-width: 480px) {
  .firstBlock p {
    font-size: 14px;
  }

  .imageBlock img {
    width: 300px;
    height: 300px;
    top: 750px;
  }
}

@media all and (max-width: 380px) {
  .firstBlock p {
    font-size: 14px;
  }

  .secondBlock p {
    font-size: 14px;
  }

  br {
    display: none;
  }
}
