.footer {
  background-color: #010101;
  padding: 70px;
  display: flex;
  align-items: center;
  position: relative;
  border-top-left-radius: 40px;
  gap: 15px;
}

.firstBlock {
  width: 40%;
}

.firstBlock h3 {
  font-size: 32px;
  font-weight: 500;
  margin-bottom: 20px;
}

.firstBlock p {
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  margin-bottom: 70px;
}

.firstBlock button {
  font-size: 16px;
  font-weight: 500;
  padding: 15px 50px;
  border-radius: 40px;
  border: none;
  cursor: pointer;
  background-color: #fff;
}

.secondBlock {
  width: 40%;
}

.secondBlock p {
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
}

.secondBlock h4 {
  font-size: 32px;
  font-weight: 500;
  margin-bottom: 40px;
}

.btns {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: start;
  margin-bottom: 50px;
}

.btns button {
  padding: 10px 10px 10px 20px;
  display: flex;
  align-items: center;
  gap: 20px;
  border: none;
  border-radius: 40px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  background-color: #fff;
}

.imageBlock {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 4;
}

@media all and (min-width: 1920px) {
  .footer {
    justify-content: space-between;
  }

  .secondBlock {
    width: 50%;
  }

  .firstBlock {
    width: 50%;
  }
}
